/* .about .firstSession {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

.firstSession .firstImage {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  margin-top: 40px;
}

.about .firstSession .infoNoteContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .firstSession .infoNote {
  width: 60vw;
  text-align: center;
  margin: 30px 0;
  color: var(--textsColor);
}

.about .firstSession .infoNote h3 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about .firstSession .infoNote p {
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-weight: 500;
}

.about .secondImage {
  width: 50vw;
  height: 500px;
  object-fit: cover;
}

.about .authorsInfoSession .partOne {
  display: flex;
}

.about .authorsInfoSession .partOne .note {
  width: 50vw;
  height: 500px;
  color: var(--textsColor);
  background-color: var(--bgfaded);
}

.about .authorsInfoSession .partOne p {
  width: 30vw;
  margin: 30px;
  font-weight: 500;
  line-height: 25px;
  font-size: 18px;
  margin-top: 20px;
}

.about .authorsInfoSession .partOne h3 {
  width: 40vw;
  font-weight: bold;
  font-size: 2rem;
  margin: 30px;
}

.about .shortNote {
  display: flex;
  margin: 50px;
  color: var(--textsColor);
  justify-content: center;
}

.about .shortNote p {
  width: 400px;
  font-size: 20px;
  margin-left: 50px;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.about .shortNote h3 {
  width: 400px;
  font-size: 30px;
}

.about .shortNote button {
  padding: 10px 30px;
  background-color: var(--bg);
  border: none;
  color: var(--textsColor);
  font-size: 15px;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 30px;
}

@media (max-width: 918px) {
  .about .authorsInfoSession .partOne p {
    width: 35vw;
  }
}

@media (max-width: 818px) {
  .about .firstSession .infoNote {
    width: 90vw;
  }

  .about .authorsInfoSession .partOne {
    flex-direction: column;
  }

  .about .secondImage {
    width: 100vw;
    height: 500px;
    object-fit: cover;
  }

  .about .authorsInfoSession .partOne .note {
    width: 100vw;
    height: auto;
    color: var(--textsColor);
    background-color: var(--bgfaded);
  }

  .about .authorsInfoSession .partOne p {
    width: 90vw;
  }

  .about .authorsInfoSession .partOne h3 {
    width: 90vw;
    font-weight: bold;
    font-size: 2rem;
    margin: 30px;
  }

  .about .authorsInfoSession .partTwo {
    flex-direction: column-reverse;
  }

  .about .shortNote {
    flex-direction: column;
  }

  .about .shortNote p {
    width: auto;
    margin-left: 0;
    margin-top: 30px;
  }

  .about .shortNote h3 {
    width: auto;
    text-align: center;
  }

  .about .shortNote button {
    margin-left: 0;
    display: flex;
  }
}

@media (max-width: 500px) {
  .about .firstSession .infoNote h3 {
    font-size: 25px;
  }

  .about .shortNote p {
    text-align: center;
  }
}
