img {
  width: 150px;
}

.header .container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 20px;
  background-color: var(--bgfaded);
  color: var(--textsColor);
  z-index: 500;
}

.header .navbar ul {
  display: flex;
  /* width: 50vw; */
  /*justify-content: space-between; */
  align-items: center;
  list-style: none;
}

.header .navbar ul li {
  margin-left: 15px;
}

.header .booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .booking p {
  background-color: var(--bg);
  border-radius: 10px;
  padding: 10px;
  font-weight: 400;
}

.header .booking p:first-of-type {
  margin-right: 20px;
}

.bold-text{
  font-weight: bolder;
}

@media (max-width: 818px) {
  .header .navbar {
    display: none;
  }
  .header .booking {
    display: none;
  }

  .header .navbar ul li {
    font-size: 10px;
  }
}

@media (max-width: 958px) {
  .header .navbar ul li {
    font-size: 12px;
  }

  .header .booking p {
    font-size: 12px;
  }
}
