.SubSectionTwo {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.tabOne {
  display: flex;
  width: 90vw;
  background-color: rgb(25, 65, 65);
  padding: 30px 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.tabOne .texts {
  color: whitesmoke;
}

.tabOne .texts h4 {
  font-weight: 500;
}

.tabOne .texts p {
  font-size: 13px;
  margin-top: 5px;
}

.tabOne input {
  padding: 10px;
  border: none;
  width: 150px;
  margin-top: 10px;
  border-radius: 10px;
}

.tabOne button {
  padding: 10px 20px;
  background-color: whitesmoke;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
}

.tabTwo {
  width: 100%;
  background-color: var(--bgfaint);
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.tabTwo p {
  width: 50vw;
  text-align: center;
}

@media (max-width: 818px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .tabOne input {
    width: 250px;
  }

  .tabOne {
    flex-direction: column;
  }

  .tabOne .texts {
    text-align: center;
  }
}
