@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Poppins:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "PT Serif";
}

.App {
  overflow: hidden;
}

:root {
  --bgfaint: rgb(214, 206, 214, 0.2);
  --bgfaded: rgb(214, 206, 214);
  --bg: rgb(173, 151, 172);
  --textsColor: rgb(46, 73, 97);
}
